@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700 &family=Poppins:wght@600&display=swap");

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(191, 97%, 15%);
  --grayish-blue: hsl(208, 11%, 55%);
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.head {
  height: 100vh;
  background: var(--pale-cyan) url("bg-hero-desktop.svg") no-repeat;
  padding: 2em 59px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.logo img {
  height: 1.6em;
  width: auto;
}
.btn {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 16px 66px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 8px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btn .white {
  background: white;
}

.pink {
  color: white;
  background: var(--pink);
}
.head_text {
  display: flex;
  align-items: center;
}

.head_text .text-info {
  flex: 1;
  padding-right: 70px;
}

.head_text .text-info p {
  margin: 2.6em 0;
}

.head_text .illustration {
  flex: 1;
}
.head_text .illustration img {
  width: 100%;
}

.container {
  padding: 97px 57px 200px 59px;
  position: relative;
}

.sect {
  display: flex;
  height: 400px;
  margin-bottom: 45px;
  padding: 55px 55px 55px 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 20px;
}

.sect .text-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sect .text-info h2 {
  margin-bottom: 1.2em;
}

.sect .text-info p {
  color: var(--grayish-blue);
}

.sect .illustration {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sect .illustration img {
  height: 90%;
}

.sect:nth-child(even) {
  flex-direction: row-reverse;
}

.sect:nth-child(even) .illustration {
  justify-content: flex-start;
}

.ready {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 50px 0;
  max-width: 610px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background: white;
}

.ready h2 {
  margin-bottom: 20px;
}

footer {
  background: var(--dark-cyan);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 145px 72px 72px 70px;
  font-size: 14px;
  position: relative;
}

footer .logo {
  color: white;
}

footer .info {
  max-width: 350px;
  width: 100%;
  margin-right: 2rem;
}

footer .info p {
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
}

footer .info p img {
  height: 14px;
  margin-right: 15px;
  margin-top: 3px;
}

.footer_links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

footer a:hover {
  text-decoration: underline;
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .social_media {
  font-size: 22px;
  align-self: flex-start;
  margin-right: 2em;
}

.copy {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 12px;
}

@media (max-width: 700px) {
  .head {
    padding: 1.2em;
    background: var(--pale-cyan) url("images/bg-hero-mobile.svg") no-repeat;
  }
  .btn {
    padding: 11px 30px;
  }
  .logo img {
    height: 16px;
  }
  .head_text {
    flex-direction: column;
  }
  .head_text .text-info {
    text-align: center;
    padding-right: 0;
    margin: 3rem 0;
  }

  .container {
    padding: 100px 20px 200px;
  }

  .container h2 {
    font-size: 23px;
  }

  .sect {
    flex-direction: column-reverse;
    text-align: center;
    height: 500px;
    padding: 30px 20px;
  }

  .sect .illustration img {
    height: auto;
    width: 90%;
  }

  .sect:nth-child(even) {
    flex-direction: column-reverse;
  }

  .ready {
    text-align: center;
    width: 340px;
    padding: 30px 0;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 148px 30px 70px;
  }

  .footer_links {
    margin-top: 2rem;
    flex-direction: column;
  }

  footer .social_media {
    align-self: center;
  }

  .copy {
    right: 50%;
    transform: translateX(50%);
    width: 300px;
  }
}
